/* ********************************** */
/* ******** Media queries *********** */
/*  Mobile first, target width 360px  */
/* ********************************** */

/* Mobile*/
@media screen and (max-width: 640px){   
    article{
        width: 85%;
        margin: auto;
    }
    .HeaderText{
        width: 300px;
    }
    .title{
        font-size: 28px;       
    }
    .subtitle{
        font-size: 13px;       
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .quoteBox{
        width: 270px;   
    }
    img.centeredLarge{
        width: 100%;
        margin: 0;
    }
    form > div{
        width: 300px;
    }
}  

/* Desktop*/
@media screen and (min-width: 641px){
    article{
        width: 70%;
        margin: auto;
    }
    div.HeaderBackgroundImage{
        height: 400px;
    }
    .HeaderText{
        width: 400px;
    }
    .title{
        font-size: 60px;
    }
    .subtitle{
        font-size: 18px;       
    }
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .quoteBox{
        width: 400px;   
    }
    img.centeredLarge{
        width: 80%;
    }
    form > div{
        width: 400px;
    }
} 



/* ********************************** */
/* ******* Theme definitions ******** */
/* ********************************** */
:root {
    /* Theme 1*/
    --theme1-color: #d34a97;
    --theme1-bg: #f7f7f7;
    --theme1-text: rgb(45, 45, 45);
    --theme1-highlight-color: yellow;
    --theme1-nav-bg: rgba(21, 49 , 82);
    --theme1-nav-text: wheat;

    /* Theme 2*/
    --theme2-color: #6532ac;
    --theme2-bg: #686f97;
    --theme2-text: #f7f7f7;
    --theme2-highlight-color: rgb(252, 164, 178);
    --theme2-nav-bg: rgba(200, 49 , 82);
    --theme2-nav-text: rgb(204, 184, 147);
 
    /* Theme 3*/
    --theme3-color: tomato;
    --theme3-bg: #e9cccc;
    --theme3-text: tomato;
    --theme3-highlight-color: rgba(252, 224, 103, 0.836);
    --theme3-nav-bg: rgb(200, 48, 21);
    --theme3-nav-text: rgb(192, 141, 45);

    /* Dark (only background and text color change in each theme!)*/
    --dark-bg-color: #333333;
    --dark-text-color: rgb(216, 216, 216);

    /* Default mode: Theme 1 */  
    --theme-color: var(--theme1-color); 
    --bg-color: var(--theme1-bg);
    --text-color: var(--theme1-text);
    --highlight-color: var(--theme1-highlight-color);
    --nav-bg: var(--theme1-nav-bg);
    --nav-text: var(--theme1-nav-text);
}

/* Theme 2*/
.themeSelectContainer:has(#theme-switch2:checked) ~ *{
    --text-color: var(--theme2-text);
    --bg-color: var(--theme2-bg);
    --theme-color: var(--theme2-color); 
    --highlight-color: var(--theme2-highlight-color);
    --nav-bg: var(--theme2-nav-bg);
    --nav-text: var(--theme2-nav-text);
}
  
/* Theme 3*/
.themeSelectContainer:has(#theme-switch3:checked) ~ *{
    --text-color: var(--theme3-text);
    --bg-color: var(--theme3-bg);
    --theme-color: var(--theme3-color);
    --highlight-color: var(--theme3-highlight-color);
    --nav-bg: var(--theme3-nav-bg);
    --nav-text: var(--theme3-nav-text);
}

/* ********************************** */
/* ********* Media query ************ */
/* ******* Light/Dark mode ********** */
/* ********************************** */
@media (prefers-color-scheme: light) {
    main{
        color: var(--text-color);
        background: var(--bg-color);
        background-color: var(--bg-color);
        min-height: 100%;
        transition: color .2s, color .2s,background-color .2s;
    }
    
    .headerFooter>nav>a, .headerFooter>.menu {
        color: var(--nav-text);
        background: var(--nav-bg);
        background-color: var(--nav-bg);
        transition: color .2s, background-color .2s;
    }   
    span{
        filter: brightness(0.8) opacity(1);
        background-color: var(--highlight-color);
        color: var(--text-color);
    }
    .quoteBox{
        filter: brightness(0.9) opacity(1);
        color: var(--theme-color);
    }
    h1, h2, h3, h4, h5, h6{
        color: var(--theme-color);
        text-shadow: 1px 1px 4px gray;
    }         
}

@media (prefers-color-scheme: dark) {
    main{
        color: var(--dark-text-color);
        background: var(--dark-bg-color);
        background-color: var(--dark-bg-color);
        min-height: 100%;
        transition: color .2s, color .2s,background-color .2s;
    }    
    .headerFooter>nav>a, .headerFooter>.menu {
        color: var(--nav-text);
        background: var(--nav-bg);
        background-color: var(--nav-bg);
        transition: color .2s, background-color .2s;
    }
    span{
        filter: opacity(0.7);
        background-color: var(--highlight-color);
        color: var(--dark-bg-color);
    }
    .quoteBox{
        filter: opacity(1);
        color: var(--theme-color);
    }
    h1, h2, h3, h4, h5, h6{
        color: var(--theme-color);
        text-shadow: none;
    }          
}

/* ********************************** */
/* ****** Theme switcher buttons **** */
/* ********************************** */
.themeSelectContainer
{
    display: flex;
    justify-content: flex-end;
    background: transparent;
    position: fixed; /*ez azt jelenti, h mozogni fog a scrollal*/
    top: 20px;
    right: 0px;
    margin-right: 50px;
    overflow: hidden; /* Összeugrashoz. Akarmi log ki, azt vagja le. Ehhez meg az a:any-link -nel a "white-space: nowrap" erteket hasznaltuk*/
    width: 80px; /* Összeugrashoz. */
    transition: all 200ms;
    z-index: 10;
}
.themeSelectContainer a{
    display: block;
    padding: 20px;
}
.themeSelectContainer:hover{
    width: 280px; /*Összeugrashoz*/
}
.themeSelectContainer span.ext{
    display: none;
}
.themeSelectContainer:hover span.ext{
    display: block;
}
.themeSelectContainer li {
    display: block;
}    

.theme-switch { /* Hides the radio buttons */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
} 
.switch-label {
    background: var(--theme-color);
    border: 3px solid var(--text-color);
    border-radius: 5px;
    color: var(--nav-text);
    cursor: pointer;
    display: inline-block;
    font-size: 125%;
    margin: 20px 0 20px 20px;
    padding: 8px 12px;
    transition: box-shadow .2s, border .2s;
}
.theme-switch:focus + .switch-label, .switch-label:hover {
    box-shadow: 0 0 10px #20f1e7;
    border: 3px solid #20f1e7;
    border-radius: 5px;
}

#labelTheme1{
    color: var(--theme1-color);
    background: var(--theme1-bg);
    border: 3px solid var(--theme1-nav-bg);
}
#labelTheme2{
    color: var(--theme2-color);
    background: var(--theme2-bg);
    border: 3px solid var(--theme2-nav-bg);
}
#labelTheme3{
    color: var(--theme3-color);
    background: var(--theme3-bg);
    border: 3px solid var(--theme3-nav-bg);
}
.themeSelectContainer > #labelThemeSelect{  
    font-size: 125%;
    margin: 20px 0 20px 20px;
    padding: 11px 12px;
    font-weight: bold;
    transition: none;
    font-style: italic;
    border-radius: 5px;
    color: var(--theme1-nav-text); /* Default */
    background: var(--theme1-nav-bg); /* Default */
}

/* Theme 2*/
#theme-switch2:checked ~ #labelThemeSelect{
    color: var(--theme2-nav-text);
    background: var(--theme2-nav-bg);
}
  
/* Theme 3*/
#theme-switch3:checked ~ #labelThemeSelect{
    color: var(--theme3-nav-text);
    background: var(--theme3-nav-bg);
}




/* ********************************** */
/* *************** Global *********** */
/* ********************************** */
html{
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: Montserrat;
}
main{
    padding-top: 30px;
}

/* ********************************** */
/* ************ Header ************** */
/* ********************************** */
div.HeaderBackgroundImage{
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(Backgrounds/beautiful-aerial-shot-fronalpstock-mountains-switzerland-beautiful-pink-blue-sky.jpg);
    vertical-align: middle;
}
div.HeaderText { /* Ez a style kell, h közepre kerüljön a szöveg...*/
    width: 75vw;
    text-align: center;
    margin: auto;
    padding-top: 40px;
}
.title{
    color: rgb(239, 237, 237);
    filter: brightness(0.98);
    text-shadow: 1px 2px 2px gray;   
    text-transform: uppercase;

    margin-block-start: 0px; 
    margin: auto;
    display:block;
    vertical-align: middle; 
}
.subtitle{
    filter: brightness(0.90);
    padding-top: 35px;
    padding-bottom: 12px;
    line-height: 28px;
}

/* ********************************** */
/* *********** Navigáció ************ */
/* ********************************** */

/* ------ Minden nav.link -----  */
a.navLink{
    font-size: 24px;
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    white-space: nowrap; /* Összeugrashoz. Egysoros marad a link*/
    text-decoration: none;
}
a.navLink:hover{
    background-color: rgba(var(--nav-text), 0.5); /* Ez miert nem müködik?!*/
    opacity: 0.7;  /* Mivel az elözö nem müködik, kenytelen vagyok ezt hasznalni..*/
}

/* ----- Menü közös ------- */
.menu ul {
    appearance: none;
    padding: 0px;
    margin: 0px;
}
.menu li {
    display: inline;
}     

/* ----- Menü fent/lent ------- */
.menuUpAndDown{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.menuUpAndDown a{
    display: inline-block;
    padding: 20px 20px;
}

/* ----- Menü float ------- */
/* TODO */

/* ********************************** */
/* *********** Headings ************* */
/* ********************************** */
h1 {               
    filter: brightness(1);
}
h2 {
    filter: brightness(0.90);
}
h3 {
    filter: brightness(0.80);
}
h4 {
    filter: brightness(0.70);
}

/* ********************************** */
/* *********** Szöveg *************** */
/* ********************************** */
p{
    line-height: 34px; /*paragráfuson belül*/
    margin-bottom: 30px; /*paragráfusok között*/
}
span {
    font-weight: bold;
    font-style: italic;
}
.quoteBox{
    border: 5px solid currentColor;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-style: italic;
    font-weight: bold;
}
.quoteAuthor{
    text-align: right;
    margin-right: 20px;
}

/*  Megyjegyzes: ez a 2 oszlopos elrendezes nem müködik. 
    TODO: miutan tanultunk a felxboxrol, javitani!*/
div.TwoColumns{
    margin: auto;
    display: inline;
    box-sizing: border-box;
}

div.ContentTwoColumns {
    width: 40%;
    display: inline;
    position: relative;
    margin: auto;
}

/* ********************************** */
/* ************* Image ************** */
/* ********************************** */
img.centeredLarge{
    display: block;
    background-image: url(Backgrounds/majestic-mountain_small.jpg) ;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 10px black;
    margin-left: auto;
    margin-right: auto;
}
figcaption {
    color: rgb(101, 101, 101);
    font-style: italic;
    margin-top: 15px;
    text-align: center;
}

/* ********************************** */
/* ********* Form formazasa ********* */
/* ********************************** */
/* ----- Saját ------- */
form{
    margin-bottom: 18px;
}
form > div{
    margin-bottom: 10px;   
}
form > div > label{
    font-size: 12px;
    white-space: nowrap;
    text-align: left;
    display: block;
}
form > div > input{
    width: 100%;
}
button{
    width: 100px;
    height: 30px;
}
textarea{
    width: 100%;
    resize: vertical;
    min-height: 80px;
}
.acceptPolicy{
    margin-top: 12px;
    margin-bottom: 3px;
}
.autoWidht{
    width: auto;
}

