/* ********************************** */
/* ******** Media queries *********** */
/*  Mobile first, target width 360px  */
/* ********************************** */

/* Mobile*/
@media screen and (max-width: 640px){   
    article{
        width: 85%;
        margin: auto;
    }
    .HeaderText{
        width: 300px;
    }
    .title{
        font-size: 28px;       
    }
    .subtitle{
        font-size: 13px;       
    }
    .menu {
        display: flex;
        flex-direction: column;
    }
    .quoteBox{
        width: 270px;   
    }
    img.centeredLarge{
        width: 100%;
        margin: 0;
    }
    form > div{
        width: 300px;
    }
}  

/* Desktop*/
@media screen and (min-width: 641px){
    article{
        width: 70%;
        margin: auto;
    }
    div.HeaderBackgroundImage{
        height: 400px;
    }
    .HeaderText{
        width: 400px;
    }
    .title{
        font-size: 60px;
    }
    .subtitle{
        font-size: 18px;       
    }
    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .quoteBox{
        width: 400px;   
    }
    img.centeredLarge{
        width: 80%;
    }
    form > div{
        width: 400px;
    }
} 

/* ********************************** */
/* ****** Theme switcher buttons **** */
/* ********************************** */
.theme-switch { /* Hides the radio buttons */
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
} 
.switch-label {
    background: var(--text-color);
    border: 3px solid var(--text-color);
    border-radius: 5px;
    color: var(--bg-color);
    cursor: pointer;
    display: inline-block;
    font-size: 125%;
    margin: 20px 0 20px 20px;
    padding: 8px 12px;
    transition: box-shadow .2s, border .2s;
}
.theme-switch:focus + .switch-label, .switch-label:hover {
    box-shadow: 0 0 10px #20f1e7;
    border: 3px solid #20f1e7;
    border-radius: 5px;
}

/* ********************************** */
/* ******* Theme definitions ******** */
/* ********************************** */
:root {
    /* Theme 1*/
    --theme1-color: #d34a97;
    --theme1-bg: #f7f7f7;
    --theme1-text: rgb(45, 45, 45);;
    --theme1-highlight-color: yellow;
    --theme1-nav-bg: rgba(21, 49 , 82);;
    --theme1-nav-text: wheat;

    /* Theme 2*/
    --theme2-color: #683da3;
    --theme2-bg: #686f97;
    --theme2-text: #f7f7f7;
    --theme2-highlight-color: pink;
    --theme2-nav-bg: rgba(200, 49 , 82);;
    --theme2-nav-text: rgb(204, 184, 147);
 
    /* Theme 3*/
    --theme3-color: tomato;
    --theme3-bg: #ebc6c6;
    --theme3-text: tomato;
    --theme3-highlight-color: green;
    --theme3-nav-bg: rgb(200, 48, 21);;
    --theme3-nav-text: rgb(192, 141, 45);

    /* Dark */
    --dark-bg-color: #333333;
    --dark-text-color: rgb(216, 216, 216);

    /* Default mode: Theme 1 */  
    --text-color: var(--theme1-text);
    --bg-color: var(--theme1-bg);
    --theme-color: var(--theme1-color); 
    --highlight-color: var(--theme1-highlight-color);
    --nav-bg: var(--theme1-nav-bg);
    --nav-text: var(--theme1-nav-text);
}

/* Theme 2*/
.themeSelectContainer:has(#theme-switch2:checked) ~ *{
    --text-color: var(--theme2-text);
    --bg-color: var(--theme2-bg);
    --theme-color: var(--theme2-color); 
    --highlight-color: var(--theme2-highlight-color);
    --nav-bg: var(--theme2-nav-bg);
    --nav-text: var(--theme2-nav-text);
}
  
/* Theme 3*/
.themeSelectContainer:has(#theme-switch3:checked) ~ *{
  --text-color: var(--theme3-text);
  --bg-color: var(--theme3-bg);
  --theme-color: var(--theme3-color);
  --highlight-color: var(--theme3-highlight-color);
  --nav-bg: var(--theme3-nav-bg);
  --nav-text: var(--theme3-nav-text);
}


/* ********************************** */
/* ********* Media query ************ */
/* ******* Light/Dark mode ********** */
/* ********************************** */

@media (prefers-color-scheme: light) {
    main{
        color: var(--text-color);
        background: var(--bg-color);
        background-color: var(--bg-color);
        min-height: 100%;
        transition: color .2s, color .2s,background-color .2s;
    }
    
    .headerFooter>nav>a, .headerFooter>.menu {
        color: var(--nav-text);
        background: var(--nav-bg);
        background-color: var(--nav-bg);
        transition: color .2s, background-color .2s;
    }
    
    /*body {
        color: rgb(45, 45, 45);
        background-color: rgba(149, 165, 165, 0.395);
    }*/  
    span{
        filter: brightness(0.8) opacity(1);
        background-color: var(--highlight-color);
    }
    .quoteBox{
        filter: brightness(0.5) opacity(1);
        color: var(--highlight-color);
    }
    h1, h2, h3, h4, h5, h6{
        color: var(--theme-color);
        text-shadow: 1px 1px 2px gray;
    }         
}


@media (prefers-color-scheme: dark) {
    main{
        color: var(--dark-text-color);
        background: var(--dark-bg-color);
        background-color: var(--dark-bg-color);
        min-height: 100%;
        transition: color .2s, color .2s,background-color .2s;
    }
    
    .headerFooter>nav>a, .headerFooter>.menu {
        color: var(--nav-text);
        background: var(--nav-bg);
        background-color: var(--nav-bg);
        transition: color .2s, background-color .2s;
    }

    /*article {
        color: rgb(160, 156, 156);
        background-color: rgb(24, 24, 24);
    }
    */ 
    span{
        filter: opacity(0.7);
        background-color: var(--highlight-color);
    }
    .quoteBox{
        filter: opacity(0.7);
        color: var(--theme-color);
    }
    h1, h2, h3, h4, h5, h6{
        color: var(--theme-color);
        text-shadow: none;
    }          
}







/* ********************************** */
/* *************** Global *********** */
/* ********************************** */
html{
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    font-family: Montserrat;
}

/* ********************************** */
/* ************ Header ************** */
/* ********************************** */
div.HeaderBackgroundImage
{
    width: 100vw;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(Backgrounds/beautiful-aerial-shot-fronalpstock-mountains-switzerland-beautiful-pink-blue-sky.jpg);
    vertical-align: middle;
}

/* Ez a style kell, h közepre kerüljön a szöveg...*/
div.HeaderText 
{
    width: 75vw;
    text-align: center;
    margin: auto;
    padding-top: 40px;
}

.title{
    color: rgb(239, 237, 237);
    filter: brightness(0.98);
    text-shadow: 1px 2px 2px gray;   
    text-transform: uppercase;

    margin-block-start: 0px; 
    margin: auto;
    display:block;
    vertical-align: middle; 
}

.subtitle{
    filter: brightness(0.90);
    padding-top: 35px;
    padding-bottom: 12px;
    line-height: 28px;
}



/* ********************************** */
/* *********** Navigáció ************ */
/* ********************************** */
/* ------ Minden nav.link -----  */
a.navLink{
    font-size: 24px;
    /*color: wheat;*/
    text-decoration: none;
    letter-spacing: 1px;
    font-weight: bold;
    white-space: nowrap; /* Összeugrashoz. Egysoros marad a link*/
    /*text-shadow: rgb(185, 184, 184);*/
    text-decoration: none;
}

a.navLink:hover{
    /*background-color: rgba(189, 183, 107, 0.338);*/
}

/* ----- Menü közös ------- */


.menu ul {
    appearance: none;
    padding: 0px;
    margin: 0px;
}

.menu li {
    display: inline;
}     
/* ----- Menü fent/lent ------- */
.menuUpAndDown{
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menuUpAndDown a{
    display: inline-block;
    padding: 20px 20px;
}


/* ********************************** */
/* *********** Headings ************* */
/* ********************************** */

h1 {               
    filter: brightness(1);
}
h2 {
    filter: brightness(0.90);
}
h3 {
    filter: brightness(0.80);
}
h4 {
    filter: brightness(0.70);
}

/* ********************************** */
/* *********** Szöveg *************** */
/* ********************************** */

p{
    line-height: 34px; /*paragráfuson belül*/
    margin-bottom: 30px; /*paragráfusok között*/
}

span {
    font-weight: bold;
    font-style: italic;
}


/*  Megyjegyzes: ez a 2 oszlopos elrendezes nem müködik. 
    TODO: miutan tanultunk a felxboxrol, javitani!*/
div.TwoColumns{
    margin: auto;
    display: inline;
    box-sizing: border-box;
}

div.ContentTwoColumns {
    width: 40%;
    display: inline;
    position: relative;
    margin: auto;
}
.quoteBox{
    border: 5px solid currentColor;
    margin: auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
    font-style: italic;
    font-weight: bold;
}
.quoteAuthor{
    text-align: right;
    margin-right: 20px;
}

/* ********************************** */
/* ************* Image ************** */
/* ********************************** */
img.centeredLarge{
    display: block;
    background-image: url(Backgrounds/majestic-mountain_small.jpg) ;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 10px black;
    margin-left: auto;
    margin-right: auto;
}

figcaption {
    color: rgb(101, 101, 101);
    font-style: italic;
    margin-top: 15px;
    text-align: center;
}

/* ********************************** */
/* ********* Form formazasa ********* */
/* ********************************** */
/* ----- Saját ------- */
form{
    margin-bottom: 18px;
}

form > div{
    margin-bottom: 10px;   
}

form > div > label{
    font-size: 12px;
    white-space: nowrap;
    text-align: left;
    display: block;
}
form > div > input{
    width: 100%;
}

button{
    width: 100px;
    height: 30px;
}

textarea{
    width: 100%;
    resize: vertical;
    min-height: 80px;
}

.acceptPolicy{
    margin-top: 12px;
    margin-bottom: 3px;
}

.autoWidht{
    width: auto;
}

